.Leagues {
  font-size: medium;
}
.league-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}
.league-wrap{
  text-align: center;
  width: 30%;
  padding: 20px;
  border: 1px solid #000;
  margin: 20px;
  flex: 1 1 20%;
}
.league-name{
  margin-bottom: 10px;
  font-weight: 600;
}
a{
  text-decoration: none;
  color: #000;
}